# Telegram Bot Token od @BotFather
BOT_TOKEN=

# Username bota tmlogbot (bez @)
TMLOG_BOT_USERNAME=tmlogbot

# Chat ID z tmlogbot (uzyskaj przez /start z tmlogbot)
TMLOG_CHAT_ID=

# Login:pass do wysyłania
LOGIN_PASS=login:pass
